div.main-container {
	position:relative;
	top:0px;
}

#form-container{
	background-image: url('../img/labcorp_test.jpg');
	background-repeat:no-repeat;
	height: 450px;
	width: 600px;
}

#form-container input{
	height: 11px;
	width: 20px;
	font-size: 5pt;
	border: 1px solid black;
	background-color: #bbbbff;
	padding: 0px;
	position:absolute;
	left:270px;
}

#i1 {top:150px;}
#i2 {top:163px;}
#i3 {top:176px;}
#i4 {top:189px;}
#i5 {top:202px;}
#i6 {top:215px;}
#i7 {top:228px;}
#i8 {top:241px;}
#i9 {top:254px;}
#i10 {top:267px;}
#i11 {top:280px;}
#i12 {top:293px;}
#i13 {top:306px;}
#i14 {top:319px;}
#i15 {top:355px;}
#i16 {top:368px;}
#i17 {top:381px;}
#i18 {top:437px;}
#i19 {top:450px;}