/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

button {
	width: 300px;
	margin: 5px;
}

body {
    font-size: 1em;
    line-height: 1.4;
	text-align: center;
	margin-top: 30px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-container{
	border: 3px solid;
	width: 700px;
	padding: 20px;
	margin:0 auto;
	overflow: hidden;
	height: auto;
}

.main-container div{
	height: 75px;
}

.main-container button{
	height: 65px;
}

#form-container{
	background-image: url('../img/labcorp_test.jpg');
	background-repeat:no-repeat;
	height: 450px;
	width: 600px;
}

.label{
	width: 310px;
	float: left;
	clear: left;
}

.button{
	float: right;
}

#wizard-controls{
	padding: 10px;
	width: 700px;
	margin:0 auto;
}

#wizard-controls button{
	width: auto;
	padding: 10px;
}

#back-button{
	float: left;
}

#forward-button{
	float: right;
}

#top-toolbar{
	margin-top: 5px;
	border: 2px solid;
	position:relative;

}
#risk-toolbar{
	text-align: right;
	position: absolute;
	left:0;
	display:inline;
}
#detail-level-toolbar{
	border:1px solid;
	width: 20px;
	display:inline;
	margin-left: 500px;
}
#done-button{
	
	border: 1px solid;
	background:GREEN;
	display:inline;
	float:right;
	color:WHITE;
}
#analysis-div{
	margin-top: 10px;
	border: 2px solid;
	border-color:BLUE;
	width: 600px;
	position:absolute;
	
}
#definition-box{
	border: 1px solid;
	border-color: BLACK;
	float:right;
	
}
#suggestion-box{
	border: 1px solid;
	border-color: BLACK;
	float:right;
	
}
#behavorial-div{
	margin-top:10px;
	border: 2px solid;
	border-color: BLUE;
	position:relative;
	color: WHITE;
	background-color:GREY;
	float:right;
	

}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}