/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

button {
	width: 300px;
	margin: 5px;
}

body {
    font-size: 1em;
    line-height: 1.4;
	text-align: center;
	margin-top: 30px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.main-container{
	border: 3px solid;
	width: 700px;
	padding: 20px;
	margin:0 auto;
	overflow: hidden;
	height: auto;
}

.main-container div{
	height: 75px;
}

.main-container button{
	height: 65px;
}

.label{
	width: 310px;
	float: left;
	clear: left;
}

.button{
	float: right;
}

#wizard-controls{
	padding: 10px;
	width: 700px;
	margin:0 auto;
}

#wizard-controls button{
	width: auto;
	padding: 10px;
}

#back-button{
	float: left;
}

#forward-button{
	float: right;
}

#top-toolbar{
	border: 2px solid;
    position: fixed;
    top: 0;
	width: 100%;
	z-index:1;
	background-color: white;
}

#top-inner{
	padding: 5px;
}

#risk-toolbar{
	text-align: right;
	position: absolute;
	left:5px;
	display:inline;
}

#risk {
	color: red;
	font-size: 20px;
	font-weight: bold;
}

#detail-level-toolbar{
	width: 20px;
	display:inline;
	margin-left: 500px;
}
#done-button{
	border: 1px solid black;
	background:GREEN;
	display:inline;
	float:right;
	color:WHITE;
    cursor:pointer
}
#analysis-div{
	margin-top: 10px;
	width: 70%;
	position:absolute;
	padding: 10px;
	text-align:left;
}

#analysis-div h3 {
	text-align: left;
}

h4 {
	text-align: left;
}

#cholesterol {
	border-bottom: 1px dotted #000;
	overflow: hidden;
	height: auto;
}

.graphs {
	float:left;
}

.infoboxes {
	float:right;
	width: 35%;
}

.definition-box{
	padding: 5px;
	border: 1px solid;
	border-color: BLACK;
	height: auto;
	max-height: 200px;
}
.suggestion-box{
	padding: 5px;
	border: 1px solid;
	border-color: BLACK;
}

#behavorial-div{
	margin-top:10px;
	border: 2px solid;
	border-color: BLACK;
	position:relative;
	color: BLACK;
	background-color:#70B8FF;
	float:right;
	overflow: auto;
	text-align: left;
	padding: 5px;
}
#behavior-btns-div{
    width: 20px;
    position: absolute;
    background-color: BLACK;


}
#behavior-btn{
    
    border: 1px solid;
    background:WHITE;
    display:inline;
    position:relative;
    color:BLACK;
    cursor:pointer
}
/* from http://stackoverflow.com/questions/1718951/jquery-how-can-i-create-a-simple-overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    display: none;
}
.overlay-box {
    margin: 10% auto 0 auto;
    width: 450px;
    height: auto;
    background: #70B8FF;
	border: 2px solid black;
	padding: 20px;
	position: relative;
	top: 0px;
}

.close-button {
	width: auto;
	position: absolute;
	right: 0px;
	top: 0px;
}

.select-row {margin: 10px;clear:both;overflow:hidden;}
.select-row label {float:right;text-align:left; }
.select-row input {float:left;}

/*
==========
CSSdeck checkboxes from Kush. Agarwal
==========
input[type=checkbox] {
	visibility: hidden;
}

*/
input[type=checkbox] {
	vertical-align:bottom:
	margin:0;
	position: relative;
}
/* SQUARED THREE */
.squaredThree {
	width: 10px;	
	margin: 10px auto;
	position: relative;
	margin-left:-1px;
	
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	display:block;
	
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}